<a href="https://colab.research.google.com/github/shivam003a/Machine-Learning/blob/main/Day_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# More on Pandas

In [40]:
import pandas as pd

In [41]:
iris_df = pd.read_csv('/content/iris.csv')
print(iris_df)
print(type(iris_df))

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]
<class 'pandas.core.frame.DataFrame'>

In [42]:
data_frame = iris_df.copy()

In [43]:
data_frame.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [44]:
data_frame.iloc[0:3,0:4]

   sepal.length  sepal.width  petal.length  petal.width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2

In [45]:
data_frame.drop(0, inplace=True)
data_frame.head()

   sepal.length  sepal.width  petal.length  petal.width variety
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa
5           5.4          3.9           1.7          0.4  Setosa

In [46]:
new_df = data_frame.drop(2)
new_df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
1           4.9          3.0           1.4          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa
5           5.4          3.9           1.7          0.4  Setosa
6           4.6          3.4           1.4          0.3  Setosa

In [47]:
new_df.index

Int64Index([  1,   3,   4,   5,   6,   7,   8,   9,  10,  11,
            ...
            140, 141, 142, 143, 144, 145, 146, 147, 148, 149],
           dtype='int64', length=148)

In [48]:
new_df.index[1]

3

In [49]:
new_df.drop(3, inplace=True)
new_df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
1           4.9          3.0           1.4          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa
5           5.4          3.9           1.7          0.4  Setosa
6           4.6          3.4           1.4          0.3  Setosa
7           5.0          3.4           1.5          0.2  Setosa

In [50]:
new_df.shape

(147, 5)

In [51]:
new_df['sepal.length']

1      4.9
4      5.0
5      5.4
6      4.6
7      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal.length, Length: 147, dtype: float64

In [52]:
new_df['sepal.length'] > 5

1      False
4      False
5       True
6      False
7      False
       ...
145     True
146     True
147     True
148     True
149     True
Name: sepal.length, Length: 147, dtype: bool

In [53]:
new_df[ new_df.variety == 'Setosa' ]

    sepal.length  sepal.width  petal.length  petal.width variety
1            4.9          3.0           1.4          0.2  Setosa
4            5.0          3.6           1.4          0.2  Setosa
5            5.4          3.9           1.7          0.4  Setosa
6            4.6          3.4           1.4          0.3  Setosa
7            5.0          3.4           1.5          0.2  Setosa
8            4.4          2.9           1.4          0.2  Setosa
9            4.9          3.1           1.5          0.1  Setosa
10           5.4          3.7           1.5          0.2  Setosa
11           4.8          3.4           1.6          0.2  Setosa
12           4.8          3.0           1.4          0.1  Setosa
13           4.3          3.0           1.1          0.1  Setosa
14           5.8          4.0           1.2          0.2  Setosa
15           5.7          4.4           1.5          0.4  Setosa
16           5.4          3.9           1.3          0.4  Setosa
17           5.1          3.5           1.4          0.3  Setosa
18           5.7          3.8           1.7          0.3  Setosa
19           5.1          3.8           1.5          0.3  Setosa
20           5.4          3.4           1.7          0.2  Setosa
21           5.1          3.7           1.5          0.4  Setosa
22           4.6          3.6           1.0          0.2  Setosa
23           5.1          3.3           1.7          0.5  Setosa
24           4.8          3.4           1.9          0.2  Setosa
25           5.0          3.0           1.6          0.2  Setosa
26           5.0          3.4           1.6          0.4  Setosa
27           5.2          3.5           1.5          0.2  Setosa
28           5.2          3.4           1.4          0.2  Setosa
29           4.7          3.2           1.6          0.2  Setosa
30           4.8          3.1           1.6          0.2  Setosa
31           5.4          3.4           1.5          0.4  Setosa
32           5.2          4.1           1.5          0.1  Setosa
33           5.5          4.2           1.4          0.2  Setosa
34           4.9          3.1           1.5          0.2  Setosa
35           5.0          3.2           1.2          0.2  Setosa
36           5.5          3.5           1.3          0.2  Setosa
37           4.9          3.6           1.4          0.1  Setosa
38           4.4          3.0           1.3          0.2  Setosa
39           5.1          3.4           1.5          0.2  Setosa
40           5.0          3.5           1.3          0.3  Setosa
41           4.5          2.3           1.3          0.3  Setosa
42           4.4          3.2           1.3          0.2  Setosa
43           5.0          3.5           1.6          0.6  Setosa
44           5.1          3.8           1.9          0.4  Setosa
45           4.8          3.0           1.4          0.3  Setosa
46           5.1          3.8           1.6          0.2  Setosa
47           4.6          3.2           1.4          0.2  Setosa
48           5.3          3.7           1.5          0.2  Setosa
49           5.0          3.3           1.4          0.2  Setosa

In [54]:
new_df[new_df.variety == 'Setosa' ].describe()

       sepal.length  sepal.width  petal.length  petal.width
count     47.000000    47.000000     47.000000    47.000000
mean       5.019149     3.438298      1.465957     0.248936
std        0.355478     0.386485      0.177270     0.108091
min        4.300000     2.300000      1.000000     0.100000
25%        4.800000     3.200000      1.400000     0.200000
50%        5.000000     3.400000      1.500000     0.200000
75%        5.200000     3.700000      1.600000     0.300000
max        5.800000     4.400000      1.900000     0.600000

In [55]:
print(new_df)

     sepal.length  sepal.width  petal.length  petal.width    variety
1             4.9          3.0           1.4          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
5             5.4          3.9           1.7          0.4     Setosa
6             4.6          3.4           1.4          0.3     Setosa
7             5.0          3.4           1.5          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[147 rows x 5 columns]

In [56]:
print(new_df.iloc[0]) # index based print the row of index 1
print(new_df.loc[0]) # label based find lebel 0

sepal.length       4.9
sepal.width        3.0
petal.length       1.4
petal.width        0.2
variety         Setosa
Name: 1, dtype: object

KeyError: ignored

In [57]:
print(new_df.iloc[2]) # index based print the row of index 1
print('\n')
print(new_df.loc[4]) # label based find lebel 0

sepal.length       5.4
sepal.width        3.9
petal.length       1.7
petal.width        0.4
variety         Setosa
Name: 5, dtype: object


sepal.length       5.0
sepal.width        3.6
petal.length       1.4
petal.width        0.2
variety         Setosa
Name: 4, dtype: object

In [58]:
# add another row
new_df.loc[3] = [5.4, 4.6, 1.9, 0.6, 'Virginica']
new_df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
1           4.9          3.0           1.4          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa
5           5.4          3.9           1.7          0.4  Setosa
6           4.6          3.4           1.4          0.3  Setosa
7           5.0          3.4           1.5          0.2  Setosa

In [59]:
new_df.tail()

# added by label but at the tail

     sepal.length  sepal.width  petal.length  petal.width    variety
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica
3             5.4          4.6           1.9          0.6  Virginica

In [60]:
new_df.reset_index(drop=True, inplace=True)
new_df.head()

# labels are reset

   sepal.length  sepal.width  petal.length  petal.width variety
0           4.9          3.0           1.4          0.2  Setosa
1           5.0          3.6           1.4          0.2  Setosa
2           5.4          3.9           1.7          0.4  Setosa
3           4.6          3.4           1.4          0.3  Setosa
4           5.0          3.4           1.5          0.2  Setosa

In [61]:
new_df.tail()

     sepal.length  sepal.width  petal.length  petal.width    variety
143           6.3          2.5           5.0          1.9  Virginica
144           6.5          3.0           5.2          2.0  Virginica
145           6.2          3.4           5.4          2.3  Virginica
146           5.9          3.0           5.1          1.8  Virginica
147           5.4          4.6           1.9          0.6  Virginica

In [65]:
new_df.reset_index(inplace=True)
print(new_df.head())

   index  sepal.length  sepal.width  petal.length  petal.width variety
0      0           4.9          3.0           1.4          0.2  Setosa
1      1           5.0          3.6           1.4          0.2  Setosa
2      2           5.4          3.9           1.7          0.4  Setosa
3      3           4.6          3.4           1.4          0.3  Setosa
4      4           5.0          3.4           1.5          0.2  Setosa

In [66]:
# to remove a particular column
new_df.drop(columns = ['index'], inplace = True)
print(new_df)

     sepal.length  sepal.width  petal.length  petal.width    variety
0             4.9          3.0           1.4          0.2     Setosa
1             5.0          3.6           1.4          0.2     Setosa
2             5.4          3.9           1.7          0.4     Setosa
3             4.6          3.4           1.4          0.3     Setosa
4             5.0          3.4           1.5          0.2     Setosa
..            ...          ...           ...          ...        ...
143           6.3          2.5           5.0          1.9  Virginica
144           6.5          3.0           5.2          2.0  Virginica
145           6.2          3.4           5.4          2.3  Virginica
146           5.9          3.0           5.1          1.8  Virginica
147           5.4          4.6           1.9          0.6  Virginica

[148 rows x 5 columns]

In [67]:
new_df.describe()

       sepal.length  sepal.width  petal.length  petal.width
count    148.000000   148.000000    148.000000   148.000000
mean       5.861486     3.063514      3.793243     1.215541
std        0.820281     0.455226      1.751371     0.755453
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.400000     1.300000
75%        6.400000     3.325000      5.100000     1.800000
max        7.900000     4.600000      6.900000     2.500000

In [68]:
# another way to delete a colums
del new_df['petal.length']
new_df.describe()

       sepal.length  sepal.width  petal.width
count    148.000000   148.000000   148.000000
mean       5.861486     3.063514     1.215541
std        0.820281     0.455226     0.755453
min        4.300000     2.000000     0.100000
25%        5.100000     2.800000     0.300000
50%        5.800000     3.000000     1.300000
75%        6.400000     3.325000     1.800000
max        7.900000     4.600000     2.500000

In [69]:
# to add a colums
new_df['color'] = 'white'

In [70]:
print(new_df)

     sepal.length  sepal.width  petal.width    variety  color
0             4.9          3.0          0.2     Setosa  white
1             5.0          3.6          0.2     Setosa  white
2             5.4          3.9          0.4     Setosa  white
3             4.6          3.4          0.3     Setosa  white
4             5.0          3.4          0.2     Setosa  white
..            ...          ...          ...        ...    ...
143           6.3          2.5          1.9  Virginica  white
144           6.5          3.0          2.0  Virginica  white
145           6.2          3.4          2.3  Virginica  white
146           5.9          3.0          1.8  Virginica  white
147           5.4          4.6          0.6  Virginica  white

[148 rows x 5 columns]